.list-container {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
}

.list-container div {
  font-size: 1rem;
  font-family: 'montserrat' sans-serif;

}

.list-container div input  {
  background: transparent;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid #61DAFB;
  margin-top: 1rem;
}

.text-area {
  background: transparent;
  font-size: 2rem;
  border: none;
  padding-top: 1rem;
}

.send-button {
  color: white;
  padding: 15px 30px;
  background: #353C45;
  border: none;
}

