.projects-container {
  margin-left: 1.5vw;
  width: 16vw;
}

.projects-card-title {
  font-style: italic;
  font-weight: lighter;
  font-size: 5rem;
  color: lightgrey;
  margin-left: 30px;
}

.work-body-container {
  display: flex;
  justify-content: center;
}

.work-item-container {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  padding-top: 10vw;
  position: absolute;
  width: 50%;
  margin-left: 10vw;
  height: auto;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 4em;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  padding: 10vw 5vw;
}

.work-item-container-dark {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  padding-top: 10vw;
  position: absolute;
  width: 50%;
  margin-left: 10vw;
  height: auto;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 4em;
  border-right: 1px solid #353C45;
  border-left: 1px solid #353C45;
  padding: 10vw 5vw;
}

::-webkit-scrollbar {
  display: none;
}