@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 1s;
}
.my-node-exit {
  opacity: 0;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 1s;
}
