@media screen and (min-width: 320px) and (max-width: 414px) {

  /* NAVBAR*/

  .scrolled-dark {
    position: fixed;
    top: 0;
    left: 0;
    background: #202429;
    min-width: 100%;
  }

  .scrolled {
    position: fixed;
    top: 0;
    left: 0;
    background: #F7F7F7;
    min-width: 100%;
  }

  .nav-div {
    display: none;
  }

  .nav-div-scrolled {
    height: 4em;
  }
  
  /*   ABOUT   */
  .main-title {
    font-size: 2rem;
  }
  
  .nav-links-dark {
    font-size: 6vw;
  }

  .nav-links {
    font-size: 6vw;
  }

  .row2 {
    justify-content: center;
    
  }

  .row2-dark {
    justify-content: center;
  }

  .page {
    display: flex;
  }

  .side-info-container {
    padding-top: 4em;
  }
  .left-side-items {
    font-size: 1rem;
  }

  .about-body-container {
    height: fit-content;
  }

  .profile-card-title {
    padding-top: 0.5rem;
  }

  .about-item-container-dark {
    position: initial;
    font-size: 6vw;
    width: fit-content;
    border-right: none;
    min-width: 20vw;
    /* height: 130vw; */

  }

  .about-item-container {
    position: initial;
    font-size: 6vw;
    width: fit-content;
    border-right: none;
    min-width: 20vw;
    /* height: 130vw; */
    padding-top: 0.5rem;
  }

  /*   WORK    */

  .projects-card-title {
    display: none;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-resume {
    font-size: 1rem;
  }

  .card-resume-dark {
    font-size: 1rem;
  }

  .inside-flex {
    padding-left: 0;
    width: 100%;
  }

  .work-item-container-dark {
    position: initial;
    font-size: 6vw;
    justify-content: end;
    border-right: none;
    height: 130vw;
    padding-top: 0.5rem;
    border: none;
    margin: 0;
    width: 100%;
    overflow: initial;
  }

  .work-item-container {
    position: initial;
    font-size: 6vw;
    justify-content: end;
    border-right: none;
    height: 130vw;
    padding-top: 0.5rem;
    border: none;
    margin: 0;
    width: 100%;
    overflow: initial;
  }
  
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .img-container {
    width: 100%;
    height: 100%;
    text-align: left;
  }

  .inside-flex {
    padding-top: 0.5em;
    padding-bottom: 1em;
  }

  /* CONTACT */

  .contact-title {
    display: none;
  }

  .contact-container {
    justify-content: center;
    border: none;
    height: 70%;
  }
  
  .contact-item-container-dark {
    position: initial;
    font-size: 1rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgrey;
  }

  .contact-item-container {
    position: initial;
    font-size: 1rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgrey;
  }
  
  .contact-body-container li {
    list-style: none;
    display: flex;
    flex-direction: column;
  }


}


/* TABLET */
